.participants_table{
  width: 60%; 
}
.table_container{
  color: white !important;
}
.table_body{
  width: 100%;
  height: 500px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  /* background-color: white !important; */
}
.table_head_title{
  color: white;
  margin: 0;
}
.table_row_data_cell{
  color: white !important;
}
.table_row_data{
  cursor: pointer;
  position: relative;
}
.table_row_data:hover .table_row_data_cell{
  color: #E75626FF !important;
}
.delete_button{
  display: none;
  color: white !important;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 30%;
}
.table_row_data:hover .delete_button{
  display: block;
}