.header{
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.some_logo{
  padding: 8px 70px;
  background-color: grey;
  border: 1px dashed white;
}
.connect_button{
  padding: 10px 15px;
  background-color: #E75626FF;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  font-family: 'Bebas Neue';
  font-size: 20px;
}
